In [1]:
import pandas as pd

In [5]:
# Load the CSV files
csv1_path = "t1.csv"
csv2_path = "t2.csv"

df1 = pd.read_csv(csv1_path)
df2 = pd.read_csv(csv2_path)

In [6]:
df1.head(5)

          Name        Source        Date
0  wankedy.com  promail9.net  2024-06-04
1   waotao.com  promail9.net  2024-06-04
2  wataoke.com  promail9.net  2024-06-04
3    watrf.com      database  2024-06-04
4    wawue.com  promail9.net  2024-06-04

In [7]:
df2.head(5)

          Name        Source        Date
0  wankedy.com  promail9.net  2024-06-04
1   waotao.com  promail9.net  2024-06-04
2  wataoke.com  promail9.net  2024-06-04
3    watrf.com           NaN         NaN
4    wawue.com  promail9.net  2024-06-04

In [9]:
# Merge the dataframes, removing duplicates based on the 'Domain' column, keeping the content from the first dataframe
df_merged = pd.concat([df1, df2[~df2['Name'].isin(df1['Name'])]])

# Save the merged dataframe to a new CSV file
merged_csv_path = "t3.csv"
df_merged.to_csv(merged_csv_path, index=False)

print(f"Merged CSV saved to {merged_csv_path}")

Merged CSV saved to t3.csv

In [10]:
df_merged.head(5)

          Name        Source        Date
0  wankedy.com  promail9.net  2024-06-04
1   waotao.com  promail9.net  2024-06-04
2  wataoke.com  promail9.net  2024-06-04
3    watrf.com      database  2024-06-04
4    wawue.com  promail9.net  2024-06-04

In [11]:
df_merged.shape

(11, 3)

In [12]:
df_merged.iloc[:10]

            Name        Source        Date
0    wankedy.com  promail9.net  2024-06-04
1     waotao.com  promail9.net  2024-06-04
2    wataoke.com  promail9.net  2024-06-04
3      watrf.com      database  2024-06-04
4      wawue.com  promail9.net  2024-06-04
5   webeidea.com  promail9.net  2024-06-04
6    webgoda.com  mailcheck.ai  2024-06-04
7  cumallover.me      database  2024-06-04
8   qxpaperk.com      database  2024-06-04
7    nxhji1.site           NaN         NaN