In [2]:
import pandas as pd

In [55]:
df = pd.read_csv(r"/home/ahsan/Desktop/Scraping-Automation/Documents/new_disposable_domains.csv")

In [56]:
df.head(5)

                      Name    Source Date
0  00000000000000000000.nl  Database  NaN
1                00000.ing  Database  NaN
2               001942.xyz  Database  NaN
3        005-elektronik.de  Database  NaN
4   005-elektronik-shop.de  Database  NaN

In [57]:
len(df[df['Name'].duplicated() == True])

0

In [58]:
filtered_df = df[df['Source'].notna()]

# Display the filtered DataFrame
print(len(filtered_df))

188308

In [59]:
df['Source'].fillna('Database', inplace=True)

In [60]:
df.head()

                      Name    Source Date
0  00000000000000000000.nl  Database  NaN
1                00000.ing  Database  NaN
2               001942.xyz  Database  NaN
3        005-elektronik.de  Database  NaN
4   005-elektronik-shop.de  Database  NaN

In [61]:
df.shape

(188308, 3)

In [ ]:
df['Date'].fillna('2024-06-04', inplace=True)

In [53]:
df.to_csv(r"/home/ahsan/Desktop/Scraping-Automation/Documents/new_disposable_domains.csv", index=False)

In [67]:
import pandas as pd

# Load the CSV files
csv1_path = r"/home/ahsan/Desktop/Scraping-Automation/Documents/new_disposable_domains.csv"
csv2_path = r"/home/ahsan/Desktop/Scraping-Automation/Documents/disposable-domains.csv"

df1 = pd.read_csv(csv1_path)
df2 = pd.read_csv(csv2_path)

# Merge the dataframes, removing duplicates based on the 'Domain' column, keeping the content from the first dataframe
df_merged = pd.concat([df1, df2[~df2['Name'].isin(df1['Name'])]])

# Save the merged dataframe to a new CSV file
merged_csv_path = r"/home/ahsan/Desktop/Scraping-Automation/Documents/Updated Domains With Sources.csv"
df_merged.to_csv(merged_csv_path, index=False)

print(f"Merged CSV saved to {merged_csv_path}")

Merged CSV saved to /home/ahsan/Desktop/Scraping-Automation/Documents/Updated Domains With Sources.csv

In [68]:
df1.head()

                      Name    Source Date
0  00000000000000000000.nl  Database  NaN
1                00000.ing  Database  NaN
2               001942.xyz  Database  NaN
3        005-elektronik.de  Database  NaN
4   005-elektronik-shop.de  Database  NaN

In [69]:
df2.head()

             Name        Source        Date
0      pervej.com           NaN         NaN
1     mailer9.net  mailcheck.ai  2024-06-04
2       fxmail.ws  mailcheck.ai  2024-06-04
3      wmail2.net  mailcheck.ai  2024-06-04
4  return0927.xyz           NaN         NaN

In [70]:
merged = pd.read_csv(r"/home/ahsan/Desktop/Scraping-Automation/Documents/Updated Domains With Sources.csv")

In [71]:
merged.shape

(211507, 3)

In [72]:
merged.head(5)

                      Name    Source Date
0  00000000000000000000.nl  Database  NaN
1                00000.ing  Database  NaN
2               001942.xyz  Database  NaN
3        005-elektronik.de  Database  NaN
4   005-elektronik-shop.de  Database  NaN