In [182]:
import pandas as pd

In [184]:
df = pd.read_csv(r"/home/ahsan/Desktop/Scraping-Automation/Documents/Updated_domains _with _sources.csv")

In [185]:
df.head(5)

                      Name    Source Date
0  00000000000000000000.nl  Database  NaN
1                00000.ing  Database  NaN
2               001942.xyz  Database  NaN
3        005-elektronik.de  Database  NaN
4   005-elektronik-shop.de  Database  NaN

In [186]:
df.shape

(211507, 3)

In [187]:
len(df[df['Name'].duplicated() == True])

0

In [165]:
18357 - 518

17839

In [188]:
df[df['Name'].duplicated() == True]

Empty DataFrame
Columns: [Name, Source, Date]
Index: []